html,
body {
  padding: 0;
  margin: 0;
  background-color: #EEE;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  background-color: #EEE;
  width: 100vw;
}

.nav-bar {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}

.div-img{
  width: 40px;
  height: 55px;
  display: flex;
  align-items: center;
}
.logo {
  height: 35px;
}

.img-search {
  height: 35px;
}

.div-search-word {
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
  font-size: 30px;
  text-align: center;
  justify-content: space-between;
  font-weight: bold;
}


.div-get-word {
  display: flex;
}

